@require '~rupture/rupture/index'
@require './fonts.styl'
@require './resolutions.styl'


*
	position relative
	box-sizing border-box
  
html
body
#content
	display table
	height 100%
	width 100%
	min-width 300px;
	background #626262
