font-url(file) {
	return '~_fonts/' + file
}

@font-face {
  font-family: "Attentica 4F";
  src: url(font-url("Attentica/Attentica-4F-UltraLight.eot?#iefix")) format("embedded-opentype");
  src: url(font-url("Attentica/Attentica-4F-UltraLight.eot")) format('eot'),
  url(font-url("Attentica/Attentica-4F-UltraLight.woff")) format("woff"),
  url(font-url("Attentica/Attentica-4F-UltraLight.ttf")) format("truetype");
}

@font-face {
	font-family: Roboto;
	font-weight: normal;
	font-style: normal;
	src: url(font-url('RobotoRegular/RobotoRegular.eot?')) format('eot'),
	url(font-url('RobotoRegular/RobotoRegular.woff')) format('woff'),
	url(font-url('RobotoRegular/RobotoRegular.ttf')) format('truetype');
}

@font-face {
	font-family: RobotoBold;
	font-weight: bold;
	font-style: normal;
	src: url(font-url('RobotoBold/RobotoBold.eot?')) format('eot'),
	url(font-url('RobotoBold/RobotoBold.woff')) format('woff'),
	url(font-url('RobotoBold/RobotoBold.ttf')) format('truetype');
}

@font-face {
	font-family: RobotoMedium;
	font-weight: normal;
	font-style: normal;
	src: url(font-url('RobotoMedium/RobotoMedium.eot?')) format('eot'),
	url(font-url('RobotoMedium/RobotoMedium.woff')) format('woff'),
	url(font-url('RobotoMedium/RobotoMedium.ttf')) format('truetype');
}

@font-face {
	font-family: RobotoLight;
	font-weight: normal;
	font-style: normal;
	src: url(font-url('RobotoLight/RobotoLight.eot?')) format('eot'),
	url(font-url('RobotoLight/RobotoLight.woff')) format('woff'),
	url(font-url('RobotoLight/RobotoLight.ttf')) format('truetype');
}
